NODE_ENV="development"
BASE_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
MONGODB_URI=mongodb://localhost:27017/NextServer
JWT_SECRET="skzywx5PYeRZaWvDgoVy0gyQ0PB8g0B6tPFXswllACcG3Xb6eb9uKRr8Iy6apjpxmgojBBUckvMIG76C"
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=